<div class="card bg-grey-dark white">
    <ul class="grid one gap1 middle no-style procedure-menu mb-0">
        <li>
            <a href="/procedures/weight-loss-surgery" {{ if eq (.Get 0) "how-it-works" }}class="selected" {{ end }}>How
                it
                works
                <svg class="icon">
                    <use href="/imgs/icons.svg#arrow_right"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="/procedures/weight-loss-surgery-gastric-sleeve" {{ if eq (.Get 0) "gastric-sleeve"
                }}class="selected" {{ end }}>Sleeve Gastrectomy
                <svg class="icon">
                    <use href="/imgs/icons.svg#arrow_right"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="/procedures/weight-loss-surgery-gastric-bypass" {{ if eq (.Get 0) "gastric-bypass" }}class="selected" {{
                end }}>Roux en Y Gastric Bypass
                <svg class="icon">
                    <use href="/imgs/icons.svg#arrow_right"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="/procedures/weight-loss-surgery-choosing-op" {{ if eq (.Get 0) "choosing-op" }}class="selected" {{
                end }}>Choosing op
                <svg class="icon">
                    <use href="/imgs/icons.svg#arrow_right"></use>
                </svg>
            </a>
        </li>
        <!-- <li>
            <a href="/procedures/weight-loss-surgery-omega-loop" {{ if eq (.Get 0) "omega-loop" }}class="selected" {{
                end }}>Omega Loop
                <svg class="icon">
                    <use href="/imgs/icons.svg#arrow_right"></use>
                </svg>
            </a>
        </li> -->
        <li>
            <a href="/procedures/weight-loss-surgery-patient-journey" {{ if eq (.Get 0) "patient-journey"
                }}class="selected" {{ end }}>Patient journey
                <svg class="icon">
                    <use href="/imgs/icons.svg#arrow_right"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="/procedures/weight-loss-surgery-preparing-for-surgery" {{ if eq (.Get 0) "preparing-for-surgery"
                }}class="selected" {{ end }}>Preparing for
                surgery
                <svg class="icon">
                    <use href="/imgs/icons.svg#arrow_right"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="/procedures/weight-loss-surgery-optifast-diet-instructions" {{ if eq (.Get
                0) "optifast-diet-instructions" }}class="selected" {{ end }}>Optifast diet instructions
                <svg class="icon">
                    <use href="/imgs/icons.svg#arrow_right"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="/procedures/weight-loss-surgery-post-operative" {{ if eq (.Get 0) "post-operative"
                }}class="selected" {{ end }}>Post operative
                Vitamin and Element replacement
                <svg class="icon">
                    <use href="/imgs/icons.svg#arrow_right"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="/procedures/weight-loss-surgery-post-gastric" {{ if eq (.Get 0) "post-gastric" }}class="selected"
                {{ end }}>Post Gastric
                Bypass fluids and discharge plan
                <svg class="icon">
                    <use href="/imgs/icons.svg#arrow_right"></use>
                </svg>
            </a>
        </li>
        <!--  <li>
            <a href="/procedures/weight-loss-surgery-post-sleeve" {{ if eq (.Get 0) "post-sleeve" }}class="selected" {{
                end }}>Post
                Sleeve gastrectomy fluids and discharge plan
                <svg class="icon">
                    <use href="/imgs/icons.svg#arrow_right"></use>
                </svg>
            </a>
        </li>  -->
        <li>
            <a href="/procedures/weight-loss-surgery-dietician-advice" {{ if eq (.Get 0) "dietician-advice"
                }}class="selected" {{ end }}>
                Dietician Advice
                <svg class="icon">
                    <use href="/imgs/icons.svg#arrow_right"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="/procedures/weight-loss-surgery-after-recovery" {{ if eq (.Get 0) "after-recovery"
                }}class="selected" {{ end }}>After recovery
                <svg class="icon">
                    <use href="/imgs/icons.svg#arrow_right"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="/procedures/weight-loss-surgery-post-operative-bloods" {{ if eq (.Get 0) "post-operative-bloods"
                }}class="selected" {{ end }}>
                Post operative bloods
                <svg class="icon">
                    <use href="/imgs/icons.svg#arrow_right"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="/procedures/weight-loss-surgery-gp-info" {{ if eq (.Get 0) "gp-info" }}class="selected" {{ end
                }}>GP info
                <svg class="icon">
                    <use href="/imgs/icons.svg#arrow_right"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="/procedures/weight-loss-surgery-cost" {{ if eq (.Get 0) "cost" }}class="selected" {{ end }}>Cost
                <svg class="icon">
                    <use href="/imgs/icons.svg#arrow_right"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="/procedures/weight-loss-surgery-clinical-nurse-specialist" {{ if eq (.Get
                0) "bariatric-nurse-specialist" }}class="selected" {{ end }}>Bariatric Nurse Specialist
                <svg class="icon">
                    <use href="/imgs/icons.svg#arrow_right"></use>
                </svg>
            </a>
        </li>
    </ul>
</div>